{{ 'footer-section.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">


<div class="footer-section">

  <div>
    <img class="footer-tner-logo-image" src="{{ 'footer-tner-logo.svg' | asset_url }}"/>
    <p>ALWC PTE LTD UEN: 202238666K</p>
  </div>

  <div>
    <p>Address: 113 Eunos Ave 3 #01-06 Singapore 409838</p>
    <p>Operating Hours: 11am - 8pm Daily</p>
  </div>

  <div>
    <p>Phone Number: +65 9369 2997</p>
    <p>Email Address: Shop@tner.sg</p>
  </div>

  <div>
    <img class="footer-instagram-logo-image" src="{{ 'footer-instsgram-logo.svg' | asset_url }}"/>
    <img class="footer-tiktok-logo-image" src="{{ 'footer-tiktok-logo.svg' | asset_url }}"/>
    <img class="footer-xiaohongshu-logo-image" src="{{ 'footer-xiaohongshu-logo.svg' | asset_url }}"/>
  </div>

</div>

{% schema %}
  {
    "name": "Footer Section",
    "settings": [],
    "presets": [
        {
            "name": "Footer Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}