{{ 'section-second-homepage.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="homePagePanel2">
    <h2 class="homePageTestimony">{{settings.homepage_title3}}</h2>

    <div class="homePageAllPeople">

        <img class="homePageOpenQuote" src="{{ 'openQuotationMark.svg' | asset_url }}"/>

        <div class="homePagePeople1">
            <img class="homePage-luggage1-image" src="{{ 'homepage-luggage1.svg' | asset_url }}"/>
            <h3>{{settings.homepage_person1}}</h3>
            <div class="homePageDescription">
                <p>{{settings.homepage_person1_testimonial}}</p>
            </div>
        </div>


        <div class="homePagePeople2" >
            <img class="homePage-luggage2-image" src="{{ 'homepage-luggage2.svg' | asset_url }}"/>
            <h3>{{settings.homepage_person2}}</h3>
            <div class="homePageDescription">
                <p>{{settings.homepage_person2_testimonial}}</p>
            </div>
        </div>

        <div class="homePagePeople3">
            <img class="homePage-luggage3-image" src="{{ 'homepage-luggage3.svg' | asset_url }}"/>
            <h3>{{settings.homepage_person3}}</h3>
            <div class="homePageDescription">
                <p>{{settings.homepage_person3_testimonial}}</p>
            </div>
        </div>

        <img class="homePageCloseQuote" src="{{ 'closeQuotationMark.svg' | asset_url }}"/>

    </div>
</div>


{% schema %}
  {
    "name": "Homepage Second Section",
    "settings": [],
    "presets": [
        {
            "name": "Homepage Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}