{{ 'section-third-howitworks.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="howitworks-third-section">
  <div class="howitworks-header3-container1">
      <h1>Still Confused?</h1>
      <h2>WE GOT YOU!</h2>
      <img class= "howitworks-swigglylines-image" src="{{ 'howitworks-swigglylines.svg' | asset_url }}" />
  </div>

  <div class="howitworks-header3-container2">
    <div class="howitworks-subheader3-container10">
      <img class= "howitworks-one-image" src="{{ 'howitworks-one.svg' | asset_url }}" />
    </div>

    <div class="howitworks-subheader3-container11">
      <img class= "howitworks-calendar-image" src="{{ 'howitworks-calendar.svg' | asset_url }}" />
    </div>
  </div>

  <div class="howitworks-header3-container3">
    <p>Please choose your travel date so that we can provide you with the total rental price per luggage.</p>
    <p>Additionally, you'll have the option to select either delivery or self-collection. If you choose self-collection, 
    please specify your preferred collection and return date and time. </p>
    <p>Once done. proceed to the next section!</p>
  </div>

  <div class="howitworks-header3-container4">
    <div class="howitworks-subheader3-container12">
      <img class= "howitworks-two-image" src="{{ 'howitworks-two.svg' | asset_url }}" />
    </div>

    <div class="howitworks-subheader3-container13">
      <div class="howitworks-subheader3-container14">
      <p>Upon reaching the Product Page, you can customize your selection by choosing the type, size, and quantity of your
      preferred luggage. </p>
      <p>Furthermore, explore our range of sustainable travel products, including disposable pillowcases, toothbrushes, 
      towels, and more for your browsing pleasure. </p>
      </div>
    </div>
  </div>

  <div class="howitworks-header3-container3">
    <div></div>
    <div></div>
    <div></div>
  </div>

</div>

{% schema %}
  {
    "name": "HowItWorks Third Section",
    "settings": [],
    "presets": [
        {
            "name": "HowItWorks Third Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}