{{ 'section-first-howitworks.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="howitworks-first-section">

    <div class="howitworks-header1-container1">
        <img class="howitworks-luggages-image" src="{{ 'howitworks-luggages.svg' | asset_url }}" />
        <h1>{{settings.howitworks_title1}}</h1>
        <h2>{{settings.howitworks_title2}}</h2>
        <h3>{{settings.howitworks_subheader1}}</h3>
    </div>

    <img class="howitworks-cycle-image" src="{{ 'howitworks-cycle.svg' | asset_url }}" />

    <div class="howitworks-header1container2">

        <div class="howitworks-subheader-container4">

            <div class="howitworks-subheader-container1">
                <img class="howitworks-tick-image" src="{{ 'howitworks-tick.svg' | asset_url }}" />
                <h4>{{settings.howitworks_cycle_title1}}</h4>

                <div class="howitworks-subheader-container6">
                    <p>{{settings.howitworks_cycle_subheader1}}</p>
                    <p>{{settings.howitworks_cycle_subheader2}}</p>
                </div>
            </div>

            <p class="howitworks-cycle-subheader7">{{settings.howitworks_cycle_subheader7}}</p>
            <span class="howitwork-3rd-text">{{settings.howitworks_cycle_subheader3}}</span>

            <div class="howitworks-subheader-container5">

                <div class="howitworks-subheader-container2">
                    <img class= "howitworks-arrow-image" src="{{ 'howitworks-arrow.svg' | asset_url }}" />
                    <h4>{{settings.howitworks_cycle_title2}}</h4>
                    <p class="howitworks-cycle-subheader6">{{settings.howitworks_cycle_subheader6}}</p>
                </div>

                <div class="howitworks-subheader-container3">
                    <img class= "howitworks-circle-image" src="{{ 'howitworks-circle.svg' | asset_url }}" />
                    <h4>{{settings.howitworks_cycle_title3}}</h4>
                    <p>{{settings.howitworks_cycle_subheader4}}</p>
                </div>

            </div>

        </div>

    </div>
    
    <p class="howitworks-point5">{{settings.howitworks_cycle_subheader5}}</p>
    <h5>{{settings.howitworks_subheader2}}</h5>
    <p class="howitworks-address" >{{settings.howitworks_subheader3}}</p>

</div>


{% schema %}
  {
    "name": "HowItWorks First Section",
    "settings": [],
    "presets": [
        {
            "name": "HowItWorks First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}