{{ 'section-first-howitworks.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="howitworks-first-section">

    <div class="howitworks-header1-container1">
        <img class="howitworks-luggages-image" src="{{ 'howitworks-luggages.svg' | asset_url }}" />
        <h1>{{settings.howitworks_title1}}</h1>
        <h2>{{settings.howitworks_title2}}</h2>
        <h3>{{settings.howitworks_subheader1}}</h3>
    </div>

    <img class="howitworks-cycle-image" src="{{ 'howitworks-cycle.svg' | asset_url }}" />

    <div class="howitworks-header1container2">

        <div class="howitworks-subheader-container4">

            <div class="howitworks-subheader-container1">
                <img class="howitworks-tick-image" src="{{ 'howitworks-tick.svg' | asset_url }}" />
                <h4>{{settings.howitworks_cycle_title1}}</h4>

                <div class="howitworks-subheader-container6">
                    <p>{{settings.howitworks_cycle_subheader1}}</p>
                    <p>{{settings.howitworks_cycle_subheader2}}</p>
                </div>
            </div>

            <p>{{settings.howitworks_cycle_subheader7}}</p>
            <span class="howitwork-3rd-text">{{settings.howitworks_cycle_subheader3}}</span>

            <div class="howitworks-subheader-container5">

                <div class="howitworks-subheader-container2">
                    <img class= "howitworks-arrow-image" src="{{ 'howitworks-arrow.svg' | asset_url }}" />
                    <h4>{{settings.howitworks_cycle_title2}}</h4>
                    <p>{{settings.howitworks_cycle_subheader6}}</p>
                </div>

                <div class="howitworks-subheader-container3">
                    <img class= "howitworks-circle-image" src="{{ 'howitworks-circle.svg' | asset_url }}" />
                    <h4>{{settings.howitworks_cycle_title3}}</h4>
                    <p>{{settings.howitworks_cycle_subheader4}}</p>
                </div>

            </div>

        </div>

    </div>
    
    <h5>{{settings.howitworks_subheader2}}</h5>

</div>


{% schema %}
  {
    "name": "HowItWorks First Section",
    "settings": [
      {
        "type": "text",
        "id": "howitworks_title1",
        "label": "Heading 1",
        "default": "How:"
      },
      {
        "type": "text",
        "id": "howitworks_title2",
        "label": "Heading 1",
        "default": "DOES IT WORK?"
      },
      {
        "type": "text",
        "id": "howitworks_subheader1",
        "label": "Subheader 1",
        "default": "Step-by-Step guide on how you can start saving the Earth!"
      },
      {
        "type": "text",
        "id": "howitworks_cycle_title1",
        "label": "Cycle Title 1",
        "default": "RENT"
      },
      {
        "type": "text",
        "id": "howitworks_cycle_title2",
        "label": "Cycle Title 2",
        "default": "RETURN"
      },
      {
        "type": "text",
        "id": "howitworks_cycle_title3",
        "label": "Cycle Title 3",
        "default": "COLLECT"
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader1",
        "label": "Cycle Point 1",
        "default": "1. Click on “Rent”."
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader2",
        "label": "Cycle Point 2",
        "default": "2. Indicate your travel date."
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader3",
        "label": "Cycle Point 3",
        "default": "3. Make Payment."
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader4",
        "label": "Cycle Point 4",
        "default": "4. Choose to self-collect <br> or opt for delivery ! "
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader5",
        "label": "Cycle Point 5",
        "default": "5. Pack and enjoy your trip!"
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader6",
        "label": "Cycle Point 6",
        "default": "6. Return the luggage to us !"
      },
      {
        "type": "text",
        "id": "howitworks_cycle_subheader7",
        "label": "Cycle Point 7",
        "default": "7. Rent from us again."
      },
      {
        "type": "text",
        "id": "howitworks_subheader2",
        "label": "Subheader 2",
        "default": "It's that simple."
      }
    ],
    
    "presets": [
        {
            "name": "HowItWorks First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}