{{ 'section-second-howitworks.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="howitworks-second-section">
  <div class="howitworks-header2-container1">
    <h1>{{settings.howitworks_title3}}</h1>
    <h2>{{settings.howitworks_title4}}</h2>
  </div>

  <div class="howitworks-header2-container2">

    <div class="howitwork-subheader-container6">
      <img class= "howitworks-hygiene-image" src="{{ 'howitworks-hygiene.svg' | asset_url }}" />
      <h3>{{settings.howitworks_point1}}</h3>
      <p>{{settings.howitworks_point1_description}}</p>
    </div>

    <div class="howitwork-subheader-container7">
      <img class= "howitworks-reimburse-image" src="{{ 'howitworks-reimburse.svg' | asset_url }}" />
      <h3>{{settings.howitworks_point2}}</h3>
      <p>{{settings.howitworks_point2_description}}</p>
    </div>

    <div class="howitwork-subheader-container8">
      <img class= "howitworks-maintanence-image" src="{{ 'howitworks-maintanence.svg' | asset_url }}" />
      <h3>{{settings.howitworks_point3}}</h3>
      <p>{{settings.howitworks_point3_description}}</p>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "HowItWorks Second Section",
    "settings": [],
    "presets": [
        {
            "name": "HowItWorks Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}