{{ 'section-first-refurbishmentpage.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="aboutus-third-section">
    <div class="aboutus-header3-container1">
        <div class="aboutus-subheader-container5">
            <h5>{{settings.refurbishment_title1}}</h5>
            <img class="aboutus-image5" src="{{ 'aboutus-deadluggage.svg' | asset_url }}" />
        </div>

        <div class="aboutus-subheader-container6">
            <h4>{{settings.refurbishment_title2}}</h4>
        </div>
    </div>

    <div class="aboutus-header3-container2">

        {% comment %} <div class="aboutus-subheader-container7">
            <img class="aboutus-image6" src="{{ 'aboutus-swigglylines.svg' | asset_url }}" />
            <img class="aboutus-image7" src="{{ 'aboutus-happyluggage.svg' | asset_url }}" />
        </div> {% endcomment %}

        <div class="aboutus-subheader-container8">
            <img class="aboutus-image8" src="{{ 'aboutus-15mins.svg' | asset_url }}" />

            <div class="aboutus-subheader-container9">
                <h6>{{settings.refurbishment_subheader}}</h6>
                <img class="aboutus-image9" src="{{ 'aboutus-process-circle.svg' | asset_url }}" />
            </div>

            <ol>
                <li>{{settings.refurbishment_point1}}</li>
                <li>{{settings.refurbishment_point2}}</li>
                <li>{{settings.refurbishment_point3}}</li>
                <li>{{settings.refurbishment_point4}}</li>
                <li>{{settings.refurbishment_point5}}</li>
            </ol>

        <div>
    </div>
</div>

{% schema %}
  {
    "name": "Refurbishment Section",
    "settings": [],
    "presets": [
        {
            "name": "Refurbishment Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}